* {
  margin: 0px;
  padding: 0px;
}

header{
  background-image: url(10104780000.jpg);
  height: 225px;

}

nav{
  background-color: black;
  background-repeat:  repeat-x;
  font-family:  'Roboto', sans-serif;
  font-size:  120%;
  line-height: 1.8em;
  font-style:  normal;
  color:  black;
  background-position:  35px;
  font-weight: bold;
}

nav ul{
  list-style-type: none;
  text-align: center;
  text-indent: 45px;
}

nav li{

  margin-top:  0px;
  margin-right: 10px;
  margin-left: 80px;
  margin-bottom:  8px;
  display: inline; /*задаем способ отображения блочных эл-в, в даном случае в строчку*/
  height:  auto;
}

nav li a{
  text-decoration:  none; /*убираем подчеркивание ссылок*/
  color:  #8B4513;
}
nav li a:hover{
  color:  #FFF0F5;
}



#sidebar{/*стиль общий для всего эл-та*/
  width: 230px;
  height: 625px;
  margin-top: 0px;
  margin-left:  0px;
  margin-bottom: 0px;
  border-radius:  5px;
  background-color:  #e0e0e0;
  float:  left;
}

#sidebar ul{
  list-style-type: none;
  text-align:  center;
}

#sidebar li{
  margin-top: 20px;
  margin-bottom: 8px;
}

#sidebar li a{
  text-decoration:  none;
  color:  #8B4513;
}

#sidebar li a:hover{
  color:  #A9A9A9;
}

body{
  font-family:  'Roboto', sans-serif;
  font-size: 18px;

}

#content {
  width: 1000px;
  height: 600px;
  margin-top: 10px;
  margin-left:  30px;
  margin-bottom: 15px;
  border-radius:  5px;
  float: left;
}

#form {
  margin-top: 50px;
  margin-left:  200px;
  float: left;
}



.chess{
  width: 100px;
  cursor: pointer;
  margin-left: 0px;
}


footer{
 background-color:black;
                color:#fff;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-size: 80%;
                padding:5px;
                width:1885px;
                height:105px;
                clear:both;


}